<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplikasi Deteksi Hoax</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <div class="container">
        <div class="img">
            <img src="{{ url_for('static', filename='img/logo.jpg') }}" alt="logo">
        </div>

        <form action="/stopword" method="post">
            <div class="input-group">
                <input type="text" name="cek-judul" id="cek-judul" placeholder="Masukan berita anda">
            </div>

            <button type="submit">CEK HOAX</button>
        </form>
    </div>
</body>

</html>